{% extends 'layout.html'%}
{% block head %}
<title>Database Management</title>

{% endblock %}
{% block body%}
 <!-- NAVBAR -->

 <nav class="navbar " role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="../static/images/shiken logo.png" width="128" height="28" />
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end ">
      <a href="{{url_for('home')}}" class="navbar-item">Home</a>
      
      <a href="{{url_for('leaderboard')}}" class="navbar-item">Leader Board</a>
      <a href="{{url_for('progress')}}" class="navbar-item">Progress</a>
      <div class="navbar-item">
        <a href="{{ url_for('logout')}}"
          ><button class="button is-success ">Logout</button></a
        >
      </div>
    </div>
  </div>
</nav>
  <!-- #################################################################################### -->

  <!-- TOPICS -->

  <br>

  <h1 class="title is-size-2 has-text-centered">Pick a Category!</h1>
 <div class="columns is-centered">
   <div class="column is-half">
    <div class="container">
      <article class="media">
        <figure class="media-left">
          <strong class="title is-size-3">1. </strong>
        </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong class="title is-size-3">General</strong>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
              </p>
  
              <a href="{{url_for('quiz',topic='database')}}" class="button is-success">Take quiz</a>
            </div>
         
        </article>
        <article class="media">
          <figure class="media-left">
            <strong class="title is-size-3">2. </strong>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong class="title is-size-3">SQL</strong>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
              </p>
  
              <a href="{{url_for('quiz',topic='SQL')}}" class="button is-success">Take quiz</a>
            </div>
         
        </article>
  
    
        
  </div>
   </div>
 </div>

<br>
{% endblock%}